* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.status-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #383b2e;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 2px 0px black;
    display: flex;
    justify-content: center;
}

.character-slot {
    background-color: #797779;
    width: 70%;
    display: flex;
    padding: .7em;
}

.health-label {
    font-size: 0.5em;
}

.health-value {
    color: #c40404;
}